/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
/*
text {
  font: bold 48px monospace;
}
*/

.player {
  fill: orange;
}

.enemy {
  fill: #bbb;
}

.collision {
  fill: pink;
}
